<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>语义依存图标注平台</title>
	<link rel="shortcut icon" href="images/logo.ico" />
	<link href="style.css" rel="stylesheet" media="all" />
	<link href="css/buttons.css" rel="stylesheet" media="all" />
	<link href="" rel="stylesheet" title="style" media="all" />
	<script type="text/javascript" src="js/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.7.2.js"></script>
	<script type="text/javascript" src="js/tooltip.js"></script>
	<script type="text/javascript" src="js/tablesorter.js"></script>
	<script type="text/javascript" src="js/tablesorter-pager.js"></script>
	<script type="text/javascript" src="js/cookie.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>-->
	<script src="ArcsDesign.js" type="text/javascript"></script>
	<script src="drawCurve.js" type="text/javascript"></script>
	<!--[if IE 6]>
	<link href="css/ie6.css" rel="stylesheet" media="all" />
	
	<script src="js/pngfix.js"></script>
	<script>
	  /* EXAMPLE */
	  DD_belatedPNG.fix('.logo, .other ul#dashboard-buttons li a');

	</script>
	<![endif]-->
	<!--[if IE 7]>
	<link href="css/ie7.css" rel="stylesheet" media="all" />
	<![endif]-->
	<style type="text/css">
		table{
			border-top: 1px solid #000000;
			border-left: 1px solid #000000;
			border-collapse: collapse; /*设置单元格的边框合并为1*/
			border-spacing: 1px;
		}
		.word{
			border-bottom: 1px solid #000000;
			border-right: 1px solid #000000;
			font-size:20px;
            text-align: center;
			/*padding-left: 10px;*/
			/*padding-right: 10px;*/
            padding: 4px 10px 3px 10px;
			white-space: nowrap;
		}
		.tag{
            border-bottom: 1px solid #000000;
            border-right: 1px solid #000000;
            text-align: center;
            /*padding-left: 10px;*/
            /*padding-right: 10px;*/
            padding: 2px 10px 2px 10px;
			font-size:14px;
		}

		#root{
			visibility: hidden;
			white-space: nowrap;
			font-size:20px;

		}
		.table  td {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	</style>
</head>
<body>
	<div id="header">
		<div id="sitename">
			<a href="index.html" class="logo float-left" title="platform">语义依存图标注平台</a>
			<div class="button float-right">
				<span id="hello">你好，<a href="#" title="Logged in as admin">admin&nbsp</a></span>
				&nbsp|&nbsp&nbsp <a id="logout" href="#" title="Logout">注销</a>
				<!--<a href="#" id="dialog_link" class="btn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>打开对话框</a>-->
				<!--<a href="#" id="login_dialog" class="btn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-image"></span>登录框</a>-->
			</div> <!-- 登录框-->
			<!--<div id="login" title="登录">-->
				<!--<form action="#" method="post" enctype="multipart/form-data" class="forms" name="form" >-->
					<!--<ul>-->
						<!--<li>-->
							<!--<label for="email" class="desc">-->
								<!--邮箱:-->
							<!--</label>-->
							<!--<div>-->
								<!--<input type="text" tabindex="1" maxlength="255" value="" class="field text full" name="email" id="email" />-->
							<!--</div>-->
						<!--</li>-->
						<!--<li>-->
							<!--<label for="password" class="desc">-->
								<!--密码:-->
							<!--</label>-->
							<!--<div>-->
								<!--<input type="password" tabindex="1" maxlength="255" value="" class="field text full" name="password" id="password" />-->
							<!--</div>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</form>-->
			<!--</div>-->
			<!--<div id="dialog" title="提示">-->
				<!--<p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
				<!--<div class="response-msg error ui-corner-all">-->
					<!--<span>Error </span>-->
					<!--标注不完整-->
				<!--</div>-->
			<!--</div>-->
		</div>
		<ul id="navigation" class="sf-navbar">
			<li>
				<a href="#">导出依存图</a>
			</li>
			<li>
				<a href="#">搜索</a>
				<ul>
					<li>
						<a href="accordion.html">已标句子</a>
					</li>
					<li>
						<a href="tabs.html">存疑句子</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="page-wrapper">
		<div id="main-wrapper">
			<div id="main-content">
				<div class="page-title ui-widget-content ui-corner-all">
					<h1>这是第100句，已标80句，跳过20句</h1>
					<div class="other">

						<div class="container">   <!-- 画布区域-->
							<div>
								<button id="getALlBooks" type="button" >Get All Books</button>
							</div>

							<div id = 'canvasdiv'></div>
							<div id='table-content'>
								<table id="content"   border="1" cellpadding="0" cellspacing="0" style="table-layout:fixed"></table>
							</div>
						</div>
						<br><br>
						<div class="container">
							<div class="clearfix"></div>
							<button class="button button_shadow actions" data-button="red" name="save" value="save">保存</button>
							<button class="button button_shadow actions" data-button="green" name="reset" value="reset">重置</button>
							<button class="button button_shadow actions" data-button="blue" name="change" value="change">修改分词</button>
							<button class="button button_shadow actions" data-button="purple" name="previous" value="previous">上一句</button>
							<button class="button button_shadow actions">BUTTON</button>

							<div class="clearfix"></div>
						</div>

						<span id="root">test</span>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="footer">
		<div id="menu">
			<a href="http://www.blcu.edu.cn/" title="beiyu">北语官网</a>
			<a href="http://cnlr.blcu.edu.cn/" title="jiance">国家语言资源监测与研究平面媒体中心</a>
			<a href="http://ehall.blcu.edu.cn/new/indexblcu.html" title="number">数字北语</a>
			<a href="http://www.blcu.edu.cn/art/2012/7/2/art_5703_1070182.html" title="rili">北语校历</a>
		</div>
		版权所有© 2019 北京语言大学
	</div>
</body>
<script type="text/javascript">
    var hb;
    var tt;
    var wordStr="<tr>";
    var tagStr ='<tr>';
    var words = new Array();          // 词数组
    var tags = new Array();		      // 标签数组
    var wordsSize = new Array();      // 词大小数组
    var widthArr = new Array();	      // td宽度数组
    var size;						  // 词的个数
    var relationSize;                 // 关系个数
    var tdBeginX = new Array();       // 每个词的左起点X
    var arcsArr = new Array();        // 关系二维数组
    var arcs = new Array();

    // 生成table
    function createTable() {
        var x=0;
        for ( var i = 0; i <size; i++){
            word = words[i];
            tag = tags[i];
            wordSize = wordsSize[i];
            width = 20*wordSize+20;
            tdBeginX[i] = x;
            console.log("tdBeginX[i]: "+tdBeginX[i]);

            if(i===0){
                String.prototype.visualLength = function()
                {
                    var root = $("#root");
                    root.text("Root");
                    return root[0].offsetWidth;
                };
                var text = "Root";
                width = text.visualLength();
                width+=20;
                console.log("len : " +width);
                wordStr += '<td class="word" align="center" width= ' + width + '  >' + word + '</td>';
                tagStr += '<td class="tag" align="center" width= ' + width + '  >' + tag + '</td>';
            }
            else {
                wordStr += '<td class="word" align="center" width= ' + width + '  >' + word + '</td>';
                tagStr += '<td class="tag"  align="center" width= ' + width + '  >' + tag + '</td>';
            }
            widthArr[i] = width+20+1;
            console.log("widthArr[i]: "+i+"  "+widthArr[i]);
            x += widthArr[i];
        }
        wordStr += '</tr>';
        tagStr  += '</tr>';
        return wordStr + tagStr;
    }


    // 初始化关系二维数组
    function initArcs(size) {
        var temp = new Array(size);
        for (var i = 0; i < size; i++) {
            temp[i] = new Array(size);
            for (var j = 0; j < size; j++) {
                temp[i][j] = 0;
            }
        }
        return temp;
    }

    // 切分原始语料
    function getWordsAndTags() {
        $.ajax({
            type : "GET",
            url : "getBooks",
            success : function(result) {
                result=eval("("+result+")");
                console.log(result);
                if (result.status === "success") {
                    words = result.data.words;
                    tags = result.data.tags;
                    wordsSize = result.data.wordsSize;
                    size = result.data.words.length;
                    arcsArr = initArcs(size);
                    // 生成表格
                    var x = createTable();
                    $("#content").append(x);
                    relationSize = result.data.start.length;
                    for (var i = 0; i < relationSize; i++) {
                        var temp;
                        var start = result.data.start[i];
                        var end = result.data.end[i];
                        var relation = result.data.relation[i];
                        arcsArr[start][end] = 1;
                        // console.log("width : " + widthArr[start])
                        temp = new Arcs(start, end, tdBeginX[start], ycoordinate, tdBeginX[end], (tdBeginX[start]+ tdBeginX[end])/2, Math.abs(end-start), relation, widthArr[start]);
                        arcs.push(temp);
                    }
                    drawcurve();

                } else {
                    console.log("Fail: ", result);
                }
            },
            error : function(e) {
                console.log("ERROR: ", e);
            }
        });
    }

    $(document).ready(function(){
        tt = document.getElementById("content");//开始画弧相关
        var canvas_str = '<canvas id="cc" class="canvas" width= ' + canvasWidth + ' height=' + canvasHeight+' style="border:0px solid #ccc;" >	Your browser does not support the HTML5 canvas.</canvas>';
        document.getElementById('canvasdiv').innerHTML = canvas_str;
        var c=document.getElementById("cc");
        hb=c.getContext("2d");
        hb.clearRect(0,0, canvasWidth, canvasHeight);//与cover大小一致
        // GET REQUEST
        $("#getALlBooks").click(function(event) {
            event.preventDefault();
            getWordsAndTags();
        });
    });

    $(".actions").click(function(){
        var name=$(this).attr("name");
        if(name=="change") {
            $(this).text("分词修改完毕");
            $(this).value("change_over");
        }

    });
</script>
</html>
